.review-card {
    border: 1px solid black;
    margin: 0 auto 10px auto;
    padding: 10px;
    width: 50%;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-mark {
    font-weight: bold;
    color: green;
}

@media screen and (max-width: 600px) {
    .review-card {
        width: 100%;
    }
}
