* {
  align-items: center;
  text-align: center;
}
form {
  width: 50%;
  margin: 0 auto;
}
.registerForm {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.checkboxInput {
  width: 20px;
}
.registerButton,
.loginButton {
  margin-top: 20px;
}
/* App.css */
.app-header {
  background-color: #282c34;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
  margin-bottom: 50px;
}

.app-logo {
  height: 90px;
}

.app-title {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 15px 15px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(233, 233, 200);
}

.nav a:hover {
  color: #61dafb;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
