/* App.css */
body {
  margin: 0;
  padding: 0;
}

* {
  align-items: center;
  text-align: center;
}

.title_page {
  font-size: 35px;
}
.registerForm {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.checkboxInput {
  width: 20px;
}
.registerButton,
.loginButton {
  margin-top: 20px;
}
/* App.css */
.app-header {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.app-logo {
  height: 90px;
}

.app-title {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2c3138;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 15px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.nav a:hover {
  color: #61dafb;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

@media (max-width: 650px) {
  .nav {
    flex-direction: column;
  }
  .nav a {
    margin: 0px;
  }
}

/* Other */
form {
  width: 50%;
  margin: 0 auto;
}

.registerForm {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.registerButton,
.loginButton {
  margin-top: 20px;
}

.checkboxInput {
  width: 20px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-mark {
  font-weight: bold;
  color: green;
}

.review-comment {
  text-align: left;
}

.searchDoctor {
  width: 50%;
  text-align: left;
  margin: 15px;
}
